# Docker
# Build and push a Docker image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  - main

pool:
  name: 'Self Hosted'

resources:
  - repo: self

variables:
  tag: '$(Build.BuildId)'
  containerRegistry: 'Docker Hub'
  imageRepository: '$(Build.Repository.Name)'
  dockerfilePath: '**/Dockerfile'

stages:
  - stage: Build
    displayName: Build and Push image
    jobs:
      - job: Build
        displayName: Build and Push
        pool:
          vmImage: ubuntu-latest
        steps:
          - task: Docker@2
            displayName: Build and push image
            inputs:
              command: buildAndPush
              repository: $(imageRepository)
              dockerfile: $(dockerfilePath)
              containerRegistry: $(containerRegistry)
              tags: |
                $(tag)
                latest