trigger:
  - main

pool:
  name: 'Self Hosted'

resources:
  - repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
  - stage: Build
    displayName: Build image
    jobs:
      - job: Build
        displayName: Build
        steps:
          - task: DockerCompose@0
            displayName: Build services
            inputs:
              action: 'Build services'
              dockerComposeFile: 'docker-compose.yml'
              projectName: '$(Build.Repository.Name)'
              qualifyImageNames: true
              additionalImageTags: '$(tag)'