trigger:
  - main

pool:
  name: 'Self Hosted'

resources:
  - repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
  - stage: Build
    displayName: Build image
    jobs:
      - job: Build
        displayName: Build
        # Remove the pool section here entirely!
        steps:
          - task: Docker@2
            displayName: Build an image
            inputs:
              command: build
              dockerfile: '**/Dockerfile'
              tags: |
                $(tag)