# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  - main

pool:
  name: 'Self Hosted'

resources:
  repositories:
    - repository: templates
      type: git
      name: eShopOnWeb/eShopOnWeb.Pipelines
      ref: refs/heads/main

variables:
  imageRepository: '$(Build.Repository.Name)'
    
stages:
  - template: templates/docker-pipeline.yml@templates
    parameters:
      imageRepository: $(imageRepository)
      runDeploy: ${{ ne(variables['Build.Reason'], 'PullRequest') }}